{% extends 'base.html' %} {% load static %} {% block title %}Willimart | Product
{%endblock title %} {% block category %} {% for category in categories %}
<a class="dropdown-item" href="/?category={{category.id}}">{{category.name}}</a>
{% endfor %} {% endblock category %} {% block body %} {% load cart %}
<div class="container bootdey">
  <div class="row">
    <div class="col-md-12 block card">
      <div class="panel panel-default panel-order">
        <div class="panel-heading">
          <strong>Order history</strong>
        </div>
        <div class="panel-body">
          <div></div>
          <div class="row">
            {% for order in orders %}
            <div class="col-md-1">
              <img
                src="{{order.product.image.url}}"
                class="media-object img-thumbnail"
              />
            </div>
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    {% if not order.status %}
                    <label class="badge text-danger">Failed</label>
                    {% else %}
                    <label class="badge text-success">Completed</label>
                    {% endif %}
                  </div>
                  <span><strong>Order ID</strong></span>
                  <span class="label label-info"
                    ><span class="text-success">#{{order.id}}</span></span
                  ><br />
                  <span><strong>Product Name</strong></span>
                  <span class="label label-info">{{order.product.name}}</span
                  ><br />
                  <span><strong>Shipping Address</strong></span>
                  <span class="label label-info">{{order.address}}</span><br />
                  <span><strong>Contact No</strong></span>
                  <span class="label label-info">{{order.phone}}</span><br />
                  Quantity : {{order.quantity}}, cost: &#8377;{{order.price}}
                  <br />
                </div>
                <div class="col-md-12">
                  order made on: {{order.date}} by
                  <a href="#">{{order.user.email}} </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="panel-footer text-center">
            We only show past 1 year orders.
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}
</div>
